body {
  background-color: #BABABA;
  background-image: url(bg.png);
  font-family: 'PT Sans Caption', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  margin-bottom: 0%;
}
div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  background-color: #BABABA;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #b00b69;
  border-width: 10px;
}
button {
  color:#ffffff;
  background-color:#b00b69;
  font-weight: bold;
  text-decoration: none;
  border:none;
  padding:10px 28px;
}
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
#conf {
  color: #5662af;
}
